:root {
/* Мир */
--status-peace: rgb(100, 180, 90);

/* Холодная война */
--status-cold-war: rgb(70, 145, 200);

/* Горячая война */
--status-hot-war: rgb(220, 120, 40);

/* Полномасштабная война */
--status-total-war: rgb(210, 55, 45);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

    padding: 1em;
}

.post {
    text-decoration: none;
    width: 100%;
    background-color: var(--container-dark);
    border-top: 3px solid var(--accent);
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
}

    .post img {
        width: 100%;
    }

    .post-title {
        font-weight: 700;
        font-size: 1.5em;
        color: var(--accent);
        text-align: center;
    }

    .post-description {
        color: var(--text);
        font-size: 1.15em;
        font-weight: 400;
        max-width: 90%;
        align-self: center;
        margin-top: -0.5em;
    }

    .pinned {
        width: 100%;
    }

    .pinned .post-title{
        color: var(--status-cold-war);
    }
    
    .pinned .post-description {
        font-size: 1.3em;
        max-width: 100%;
        margin-top: 0;
    }

/*
    Еще раз. Это произошло во время прослушивания группы ultra vomit
*/

@media (max-width: 900px) {
    main {
        padding: 1em 0;
    }

    .post {
        width: 100vw;
        padding: 1em;
    }

    .post-title {
        font-size: 1.3em;
    }

    .post-description {
        font-size: 1.1em;
        max-width: 100%;
    }
}

/*
    И ВРЕМЕНИ БОЛЬШЕ НЕ БУДЕТ И ВРЕМЕНИ БОЛЬШЕ НЕ БУДЕТ И ВРЕМЕНИ БОЛЬШЕ НЕ БУДЕТ
*/

@media (min-width: 900px) {
    .post:hover {
        background-color: var(--bg-dark);
        transition: 0.3s;
    }
}

