main {
    padding: 1em;
    gap: 1em;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1fr;
}

.post {
    text-decoration: none;
    background-color: var(--container-dark);
    width: 100%;
    height: 100%;
    border-top: 3px solid var(--accent);
    padding: 1.5em;

    display: flex;
    flex-direction: column;

    gap: 0.5em;
}

    .post img {
        width: 100%;
    }

    .post-title {
        font-weight: 700;
        font-size: 1.5em;
        color: var(--accent);
        margin-top: 0.2em;
        text-align: center;
    }

    .post-description {
        color: var(--text);
        font-size: 1.3em;
        font-weight: 400;
    }

    .large {
        grid-column: 1 / -1;
        padding-bottom: 1em;
    }

@media (max-width: 900px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        padding: 1em 0;
    }

    .post {
        padding: 1em;
    }
}

@media (min-width: 900px) {
    .post:hover {
        background-color: var(--bg-dark);
        transition: 0.3s;
    }
}