main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div {
    color: var(--text);
    font-size: 2em;
}

main a {
    color: var(--accent);
    font-size: 2.5em;
}