
/*базовые настройки*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar { width: 0;}

::selection {
    background-color: rgb(110,47,59);
    color: white;
}

/*уэаээваээу*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dark {
    flex: 1;
    background-color: rgb(212, 182, 101);
}

.light {
    flex: 8;
    background-color: rgb(253,217,120);
}